logs/
data/
saves/
backup/
.fabric/

journeymap/config/
journeymap/data/
journeymap/icon/
journeymap/colorpalette.html
journeymap/colorpalette.json
journeymap/journeymap.log

options.txt
irisUpdateInfo.json
patchouli_data.json
observable_announce
usercache.json
usernamecache.json